*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: Circular,system,-apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
}
.outer{
    width:100%;
    height:auto;
    background-color: #0a1551;
}
.Menu{
    display:grid;
    grid-template-columns: 1fr 7fr;
}
.topMenu{
  font-family:"Circular","CircularStd",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display:flex;
    justify-content: flex-end;
    align-items:center;
  }
  .topMenu svg{
    padding-top:10px;
    display:inline-block;
  }
  .topMenu button{
    padding:5px;
    width:45px;
    height:45px;
    border-radius: 50px;
    border:none;
  }
  .topMenu span{
    font-weight:700;
    font-size:32px;
  }
  .topMenu ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .topMenu li{
      display:inline-block;
  }
  .topMenu li a{
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom:15px;
      color:white;
      text-decoration:none;
      font-size:14px;
      font-weight:00;
  }
  .item1{
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
  }
  .area{
    display:grid;
    grid-template-columns: 1.3fr 6fr;
    background-color: #fff;
    border-bottom:1px solid #c8ceed;
  }
  .area-item2{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    grid-gap:15px;
   
  }
  .sort{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #c8ceed;
    padding:10px;
  }
  .area-item1{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    border-right:1px solid #c8ceed;
    border-bottom:1px solid #c8ceed;
  }
  .area-item1 button{
    width:100%;
    padding-top:12px;
    padding-bottom:12px;
    padding-right:20px;
    padding-left:20px;
    color:#fff;
    background-color:#ff6100;
    border:none;
    border-radius:4px;
  }
  .area-item1 button span{
    font-weight:600;
  }
  .area-item2 input{
    background-color: #f3f3fe;
    height:60%;
    border:none;
  }
  .sort span{
    font-weight: 700;
    font-size:12px;
  }
  .sort svg{
    width:20px;
    height:20px;
    margin-right:10px;
  }
  @media screen and (max-width:768px) {
    .Menu{
        display:none;
    }
    .area{
        display:grid;
        grid-template-columns: 7fr;
    }
    .area-item2{
        display:none;
    }
  }
  #input{
    background-color: #f3f3fe;
    background-image: url('https://raw.githubusercontent.com/tolgaegin25/referralcode/336b79203668d6004062d3fe2bfc1b5a335bc98f/magnifying-glass-solid.svg');
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size:20px;
    border: 1px solid #f3f3fe;
    border-radius: 4px;
    color: #6f76a7;
    display: block;
    font-size: .875em;
    min-height: 38px;
    padding: 13px 36px;
    transition: .3s;
    max-width: 20%;
  }
  .wrapper {
    display:none;
    height: 450px;
    width: 320px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top:30%;
    right:10px;
    transform: translateX(0);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    transition: 0.3s ease;
    border-radius:6px;
  }
  .wrapper .podoInner {
    overflow: scroll;
    height: 100%;
    padding-top: 64px;
    background: #fff;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .wrapper .podoInner::-webkit-scrollbar {
    width: 0 !important;
  }
  .wrapper .podoInner .podoContent {
    padding: 10.66667px;
    position: relative;
    margin-bottom: 32px;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 100;
    transition: 0.3s ease;
    border-radius:10px;
  }
  .nav .default-nav {
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 110;
    background-color: #0A184E;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    transition: 0.3s ease;
    border-radius:4px;
  }
  .nav .default-nav .main-nav {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s ease;
  }
  .nav .default-nav .main-nav .toggle {
    height: 40;
    width: 40px;
    margin: 16px;
    float: left;
  }
  .nav .default-nav .main-nav .toggle:hover {
    cursor: pointer;
  }
  .nav .default-nav .main-nav .options {
    height: 32px;
    width: 32px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
    background-size: contain;
    margin: 16px;
    position: absolute;
    right: 0;
  }
  .nav .default-nav .main-nav .options:hover {
    cursor: pointer;
  }
  .nav .default-nav .main-nav .main-nav-item {
    float: left;
    margin-right: 50px;
    position: relative;
    line-height: 40px;
    transition: 0.3s ease;
  }
  .nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
    padding-left:20px;
  }
  
  .bottom {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    background: #0A184E;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom-right-radius: 4px;
  }
  .bottom .send {
    
    height: 20.66667px;
    width: 42.66667px;
    border-radius: 50%;
    border: 0;
    background: #0A184E;
    color: #ffffff;
  }
  .bottom .send:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bottom .send:focus {
    outline: none;
  }
  .bottom .send:hover {
    cursor: pointer;
  }
  .bottom .send svg{
    width:25px;
    height:25px;
    fill:#fff;
  }
  
  .message-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10.66667px 0;
    padding: 10.66667px 0;
  }
  .message-wrapper .circle-wrapper {
    height: 42.66667px;
    width: 42.66667px;
    border-radius: 50%;
  }
  .message-wrapper .text-wrapper {
    padding: 10.66667px;
    min-height: 42.66667px;
    width: 80%;
    margin: 0 10.66667px;
    box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    /* word-break: break-all; */
  }
  .message-wrapper .text-wrapper:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  .message-wrapper.them .circle-wrapper,
  .message-wrapper.them .text-wrapper {
    background: #EAF0F6;
    float: left;
    color: #000;
  }
  .message-wrapper.them .text-wrapper:before {
    border-width: 0 10px 10px 0;
    border-color: transparent #EAF0F6 transparent transparent;
    position: absolute;
    top: 0;
    left: -9px;
  }
  .message-wrapper.me .circle-wrapper,
  .message-wrapper.me .text-wrapper {
    background: #EAF0F6;
    float: right;
    color: #333333;
    
  }
  .message-wrapper.me .text-wrapper {
    background: #ffffff;
    
  }
  .message-wrapper.me .text-wrapper:before {
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -9px;
  }
  .buttons a {
    display: inline-block;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    background: #fff;
    padding:10px;
    text-decoration: none;
    margin: 5px 5px;
    border:1px solid #EAF0F6;
  }
  .buttons a:hover {
    background: #EAF0F6;
    text-decoration: none;
  }
  
  .noBg {
    background: none !important;
  }
  .podoIcon{
    position:absolute;
    bottom:0px;
    right:0px;
    width:100px;
    height:auto;
  }
  .cls-1{fill:#f2a31d;}
  .cls-2{fill:#282424;}
  .cls-3{fill:none;stroke:#f2a31d;stroke-miterlimit:10;stroke-width:4.2px;}
  .cls-4{fill:#f9f8f6;}
  .cls-5{fill:#232222;}
  .cls-6{fill:#da6a2a;}
  .cls-7{fill:#f70000;}
  .cls-8{font-size:27.54px;fill:#fff;font-family:CircularStd-Bold, Circular Std;font-weight:700;}
  
  .none{
    display:none;
  }
  @media screen and (max-width:768px) {
    #podo{
      display:none;
    }
    #chatbot{
      display:none;
    }
    .wrapper{
      display:none;
    }
  
  }
  @media (min-width:768px) and (max-width:1024px) {
    .wrapper{
      position: absolute;
      top:50%;
    }
  
  }