*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family:"Circular","CircularStd",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #0A1551;
    position:relative;
  }
h5{
  padding-top:15px;
    margin:5px;
    font-size:20px;
    line-height:25px;
}
h5 span{
  color:#049e38;
}
hr{
  width:30%;
}
p{
    font-size:12px;
}
hr{
    margin-top:20px;
}
.outer{
margin:0 auto;
max-width:1200px;
height:auto;
background-color:#0A1551;
}

.container{
    padding:0;
    width:100%;
    border:1px solid black;
    display:flex;
    transition: all 0.3s;
    background-color: #ffff;
    border-radius:10px;
}
.topMenu{
  text-align:center;
}
.topMenu svg{
  padding-top:10px;
}
.topMenu button{
  padding:5px;
  width:45px;
  height:45px;
  border-radius: 50px;
  border:none;
}
.topMenu span{
  font-weight:650;
  font-size:32px;
}
.topMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.topMenu li{
    display:inline-block;
}
.topMenu li a{
    display: block;
    padding:12px 16px;
    color:white;
    text-decoration:none;
}
#sidebar{
  min-width:250px;
  max-width:250px;
  background:#e3e5f5;
  color:#e3e5f5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sidebar ul {
    list-style-type: none;  
}
#sidebar ul li{
    text-align:left;
    color:#e3e5f5;
}
#sidebar ul li a{
    font-size:15px;
    height:auto;
    line-height:70px;
    text-decoration: none;
    color:#454c78;
}
#sidebar ul li svg{
    width:19px;
    height:19px;
    fill:#454c78;
}
#sidebar ul li span{
 padding-left:10px;
}
.content{
    font-family: Circular,sans-serif;
    text-align:center;
    width:100%;
    height:auto;
    padding:10px;
    padding-left:25px;
}
.content-header{
  line-height:18px;
  text-align:center;
}
.forms{
    padding-top:30px;
}
.form{
    margin-top:20px;
    width:40%;
    display: inline-block;
}
.form button{
    background-color:#fff;
    border:3px solid rgb(249 250 251);
    width:95%;
    padding:15px;
    border-radius: 8px;
  }
  .form button:hover{
    box-shadow: 2px 2px 2px 1px #c8c8c8;
  }
  .social{
    display:flex;
    justify-content: center;
    padding-top:20px;
    grid-gap: 1rem;
  }
  .social button{
    display: inline-flex;
    border:none;
    background-color: #e9eaf7;
    border-color:#e9eaf7;
    padding:10px;
    border-radius:4px;
    font-size:15px;
    color:#0a1551;
    justify-content: center;
    align-items: center;
    width:100%;
    grid-gap: 0.5rem;
  }
  .social svg{
    fill:#0a1551;
    width:20px;
    height:20px;
  }
  .social .socialBtn{
    padding-top:10px;
    display: inline-block;
  }
  .form .img{
    float:left;
    width:40px;
    height:40px;
    background-color: #e9eaf7;
    border-radius:3px;
  }
  .form .img svg{
    padding-top:10px;
    fill:#049e38
  }
  .form .colored{
    color:#c8c8c8;font-size:12px;
  }
  .records{
    padding-top:25px;
    text-align:left;
  }
  .records span{
    font-size:15px;
    font-weight:500;
    padding-bottom:10px;
    padding-left:10px;
  }
  .records table{
    padding-left:10px;
  }
  .records td{
    padding-left:10px;
    padding-top:10px;
    border-left:1px solid black;
  }
  @media screen and (max-width: 640px) {
    #sidebar {
      visibility: hidden;
      clear: both;
      display: none;
    }
    .topMenu{
        visibility: hidden;
        clear: both;
        display: none; 
    }
   .form{
    width:70%;
   }
   .referlink{
    padding-top:20px;
    text-align:left;
    font-size:15px;
    font-weight:500;
    padding-left:10px;
  }
   .social{
    flex-direction: column;
    align-items: center;
   }
   .social .socialBtn{
    width: 90%;
   }
   .refercode{
    flex-direction: column;
   }
   .refercode .input{
    width:100%;
}
    .refercode .referBtn{
    margin-top:15px;
    width:100%;
  }
  .records{
    padding-top:25px;
    text-align:left;
    padding-left:10px;
  }
  }
  @media (min-width:640px) and (max-width: 1024px) {
    #sidebar {
      visibility: hidden;
      clear: both;
      display: none;
    }
    .topMenu{
        visibility: hidden;
        clear: both;
        display: none; 
    }
   .form{
    width:70%;
   }
   .referlink{
    padding-top:20px;
    text-align:left;
    font-size:15px;
    font-weight:500;
    padding-left:10px;
  }
   .social{
    flex-direction: column;
    align-items: center;
   }
   .refercode{
    flex-direction: column;
   }
   .social .socialBtn{
    width: 90%;
   }
   .refercode .input{
    width:100%;
}
    
  .records{
    padding-top:25px;
    text-align:left;
    padding-left:10px;
  }
  }
  .form-text{
    text-align:left;
  }
  .form-text span{
    font-weight:bold;
    font-size:14px;
    padding-left:10px;
  } 
.flyinn{
 position:sticky;
 top:0;
 width:100%;
 height:auto;
 background-color: #0099FF;
 display:flex;
 justify-content: center;
}
.flyinn .close{
  position:absolute;
  top:35%;
  right:10px;
}
.inner-flyinn{
  display:grid;
  grid-template-columns: .3fr .3fr 1fr .7fr;
  height:auto;
  
}

.flyinn h2{
  color:White;
}
.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 140px;
  height: 44px;
  background-color: #EEEEED;
  border-radius: 6px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn_wrap:hover {
  /* transition-delay: .4s; */
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}

#Share {
  position: absolute;
  z-index: 99;
  width: 250px;
  height: 72px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: black;
  background: #FEB53B;
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.FlyinnBtn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 173px;
  height: 44px;
  border-radius: 20px;
}

.outerBtn svg:nth-of-type(1) {
          -webkit-transition-delay: 1.1s;
                  transition-delay: 1.1s;
}

.outerBtn svg:nth-of-type(2) {
          -webkit-transition-delay: .9s;
                  transition-delay: .9s;
}

.outerBtn svg:nth-of-type(3) {
          -webkit-transition-delay: .7s;
                  transition-delay: .7s;
}

.outerBtn svg:nth-of-type(4) {
          -webkit-transition-delay: .4s;
                  transition-delay: .4s;
}

.btn_wrap:hover span {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px)
}

.btn_wrap:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


.dr {
position: absolute;
bottom: 16px; 
right: 16px;
width:100px;
}
.flyinn-item1{
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.flyinn-item2{
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.flyinn-item4{
  display:flex;
  justify-content: center;
  align-items: center;
}
.lightbox{
  display:flex;
  position:fixed;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:100%;
  height: calc(90% + 80px);     
  background: rgba(0,0,0,.8);
  z-index:9999;
  /*animation: closeLightbox 5s 1;
  visibility: hidden;*/
}
.lightbox .inner{
  display:grid;
  grid-template-columns: 33% auto 33%;
  grid-template-rows: .5fr 1.2fr .5fr;
  background:#fff;
  height:auto;
  border-top:8px solid #FF6100;
  max-width:90%;
  
}
.item1{
  position:relative;
  text-align:center;
  grid-column-start: 1;
  grid-column-end: 4;
  display:grid;
  align-items:center;
  justify-content: center;
}
.item2{
  grid-column: 1/-1;
  grid-row:2/3;
  display:grid;
  align-items:flex-start;
  justify-content: center;

}
.item3{
position:relative;
  display:grid;
  justify-content:flex-start;
  align-items: flex-end;
  grid-column: 1/2;
  grid-row:2/4;
}
.item5{
position:relative;
  display:grid;
  grid-column: 3/4;
  justify-content:flex-end;
  align-items: flex-end;
  grid-row:2/4;
  
}
.lightbox #closeLightbox{
  position:absolute;
  top:5px;
  right:15px;
  line-height:40px;
  text-align:center;
  text-decoration: none;
  color:#B1C3E9;
}
@keyframes closeLightbox {
  0% {opacity:1;visibility: visible;}
  80% {opacity:1;visibility: visible;}
  100% {opacity:0;visibility: hidden;}
}
.talk .cls-1 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: draw 2s infinite;
}
.cls-1{
  fill:none;
  stroke:black;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:3px;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -60;
  }
}
section:target{
  visibility:hidden;
  animation:none;
}
#text{
  text-align:center;
  padding-top:25px
}
.inner-text{
  position: relative;
  padding-top:50px;
  text-align:center;
  color:#0A1551;
  width:100%;
}
.item1 h2{
  font-weight:bold;
  color:#0A1551;
  padding:0 11%;
  font-size:45.23px;
}
.item2 span{
  text-align:center;
  color:#43465C;
  font-weight:500;
  font-size:23px;
  line-height:28px;
}
.LightBtn {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background: #FEB53B;
  border-radius: 6px;
  color: #0A1551;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
  font-weight:600;
}

.LightSocial {
  opacity: 0;
  position: relative;
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.LightSocial  svg {
  fill:white;
  
}
.limg{
 display:flex;
 justify-content: flex-start;
 align-items: flex-end;
}
.rimg{
  display:flex;
 justify-content: flex-end;
 align-items: flex-end;
 }
.twitter {
background: #00aced;
}

.facebook {
background: #3b5998;
}

.google{
background: #dd4b39;
}

.linkedin{
background: #0a66c2;
}
.clicked {
opacity: 1;
transition: 0.7 all ease;
transform: translateY(1px);
}
.outerBtn{
display:flex;
justify-content: center;
align-items: center;
}
.outerSocial{
display:flex;
justify-content: center;
}

@media screen and (max-width:500px) {

  .lightbox .inner{ 
    display:grid;
    grid-template-columns: .6fr 1fr .6fr;
    grid-template-rows: 0.8fr 1fr 0.6fr;
    background:#fff;
    height:auto;
    border-top:8px solid #FF6100;
    max-width:90%;
  }
  .item3{
    position:relative;
      display:grid;
      justify-content:flex-start;
      align-items: flex-end;
      grid-column: 1/2;
      grid-row:3/4;
  }
  .item5{
    position:relative;
      display:grid;
      grid-column: 3/4;
      justify-content:flex-end;
      align-items: flex-end;
      grid-row:3/4;
      
  }
  .item1 h2{
    color:#0A1551;
    padding:0 5%;
    font-size:30px;
  }
  .item2 span{
    padding-left:10px;
    padding-bottom:10px;
    text-align:center;
    color:#43465C;
    font-weight:500;
    font-size:13px;
    line-height:15px;
  }
  .LightBtn {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 44px;
    background: #FEB53B;
    border-radius: 5px;
    color: #0A1551;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 200;
    cursor: pointer;
    font-weight:600;
  }
  .outerSocial svg{
    width:15px;
    height:15px;
    z-index: 9999;;
  } 
}
@media (min-width:500px) and (max-width:580px) {
  .item3{
    position:relative;
      display:grid;
      justify-content:flex-start;
      align-items: flex-end;
      grid-column: 1/2;
      grid-row:3/4;
  }
  .item5{
    position:relative;
      display:grid;
      grid-column: 3/4;
      justify-content:flex-end;
      align-items: flex-end;
      grid-row:3/4;
      
  }
}
@media screen and (max-width:359px) {
 .flyinn{
  display:none;
 }
 .refer{
  display:none !important;
 }
 
}
@media (min-width:359px) and (max-width:480px) {
  .flyinn-item1{
    display:none;
  }
  .flyinn-item2{
    display:none;
  }
  .flyinn-item3 h2{
    font-size:16px;
  }
  .inner-flyinn{
    text-align:center;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:40px 60px;
  }
  .refer-item1{
    display:none !important;
  }
  .refer-item2{
    display:none !important;
  }
  .inner-refer{
    display:grid !important;
    grid-template-columns: 10fr 2fr !important;
    margin:0 auto !important;
  }
  .refer-item3 input{
  width:100% !important;
  background-color: transparent !important;
  color:#fff !important;
  font-size:12px !important;
  padding:2px !important;
}
.refer-item4 .referBtn{
  padding:3px !important;
}
  
 }
 @media (min-width:480px) and (max-width:836px) {
  .flyinn-item1{
    display:none;
  }
  .flyinn-item2{
    display:none;
  }
  .flyinn-item3 h2{
    font-size:18px;
  }
  .inner-flyinn{
    text-align:center;
    display:grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
  }
  .refer-item1{
    display:none !important;
  }
  .refer-item2{
    display:none !important;
  }
  .inner-refer{
    display:grid !important;
    grid-template-columns: 10fr 1fr !important;
    margin:0 auto !important;
  }
  .refer-item3{
    padding-left:10px;
  }
  .refer-item3 input{
  width:100% !important;
  background-color: transparent !important;
  color:#fff !important;
  font-size:12px !important;
  padding:4px !important;
  }
  .refer-item3 span{
    font-size:14px !important;
  }
  

 }
 .refer{
  width:100%;
  height:auto;
  background-color: #0099FF;
  display:flex;
 }
 .inner-refer{
  display:grid;
  grid-template-columns: .3fr .3fr 4fr .7fr;
  height:auto;
  grid-gap: 1em;
 }
.refer-item1{
 display:flex;
 justify-content: flex-end;
 align-items: flex-end;
}
.refer-item2{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.refer-item3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.refer-item3 input{
  width:100%;
  background-color: transparent;
  color:#fff;
  font-size:14px;
  padding:6px;
  border-style: solid;
  border-color: #041A96E5;
  border-radius: 2px;
  border-width:thin;
}
.refer-item3 span{
  color:#fff;
  font-weight:600;
  padding-bottom:10px;
}
.refer-item4{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  
}
.refer-item4 a{
  text-decoration:none;
  color:#000;
}
.refer-item4 .referBtn{
  background-color: #FEB53B;
  border-radius: 4px;
  padding:6px;
  width:120px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  
}
.refer-item4 .referBtnwrap{
 padding-top:25px;
 display:flex;
 justify-content: center;
}

.btnIcon{
  width:20px;
  height:20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .flyinn{
    position:sticky;
    top:0;
    width:100%;
    height:auto;
    background-color: #0099FF;
    display: -ms-flexbox;
    display:flex;
    -ms-flex-pack: center;
    justify-content: center;
   }
  .inner-flyinn{
    display:-ms-grid;
    display: grid;
    -ms-grid-columns:3fr .3fr 1fr .7fr;
    grid-template-columns: 3fr .3fr 1fr .7fr;
    height:auto;
    
  }
  .lightbox{
    display:flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    position:fixed;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.8);
    z-index:9999;
    /*animation: closeLightbox 5s 1;
    visibility: hidden;*/
  }
  .lightbox .inner{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:33% auto 33% ;
    -ms-grid-rows: .5fr 1.2fr .5fr;;
    background:#fff;
    height:auto;
    border-top:8px solid #FF6100;
    max-width:90%;
  }
  .item1{
    position:relative;
    text-align:center;
    display:grid;
    display:-ms-grid;
    grid-column:1/4;
    -ms-grid-column:1/4;
    align-items:center;
    justify-content: center;
  }
  .item2{
    grid-column: 1/-1;
    grid-row:2/3;
    display:grid;
    display:-ms-grid;
    align-items:center;
    justify-content: center;
  
  }
  .item3{
  position:relative;
    display:grid;
    display:-ms-grid;
    justify-content:flex-start;
    align-items: flex-end;
    grid-column: 1/2;
    grid-row:2/4;
  }
  .item5{
  position:relative;
    display:grid;
    display:-ms-grid;
    -ms-grid-column: 3/4;
    grid-column: 3/4;
    justify-content:flex-end;
    align-items: flex-end;
    -ms-grid-row: 2/4;
    grid-row:2/4;
    
  }
  
}
.wrapper {
  display:none;
  height: 450px;
  width: 320px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top:30%;
  right:10px;
  transform: translateX(0);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  transition: 0.3s ease;
  border-radius:6px;
}
.wrapper .podoInner {
  overflow: scroll;
  height: 100%;
  padding-top: 64px;
  background: #fff;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.wrapper .podoInner::-webkit-scrollbar {
  width: 0 !important;
}
.wrapper .podoInner .podoContent {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 100;
  transition: 0.3s ease;
  border-radius:10px;
}
.nav .default-nav {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #0A184E;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  transition: 0.3s ease;
  border-radius:4px;
}
.nav .default-nav .main-nav {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .toggle {
  height: 40;
  width: 40px;
  margin: 16px;
  float: left;
}
.nav .default-nav .main-nav .toggle:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .options {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
  background-size: contain;
  margin: 16px;
  position: absolute;
  right: 0;
}
.nav .default-nav .main-nav .options:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .main-nav-item {
  float: left;
  margin-right: 50px;
  position: relative;
  line-height: 40px;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
  padding-left:20px;
}

.bottom {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  background: #0A184E;
  display:flex;
  justify-content: center;
  align-items:center;
  border-bottom-right-radius: 4px;
}
.bottom .send {
  
  height: 20.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 0;
  background: #0A184E;
  color: #ffffff;
}
.bottom .send:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}
.bottom .send svg{
  width:25px;
  height:25px;
  fill:#fff;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.66667px 0;
  padding: 10.66667px 0;
}
.message-wrapper .circle-wrapper {
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
}
.message-wrapper .text-wrapper {
  padding: 10.66667px;
  min-height: 42.66667px;
  width: 80%;
  margin: 0 10.66667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  /* word-break: break-all; */
}
.message-wrapper .text-wrapper:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.message-wrapper.them .circle-wrapper,
.message-wrapper.them .text-wrapper {
  background: #EAF0F6;
  float: left;
  color: #000;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #EAF0F6 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}
.message-wrapper.me .circle-wrapper,
.message-wrapper.me .text-wrapper {
  background: #EAF0F6;
  float: right;
  color: #333333;
  
}
.message-wrapper.me .text-wrapper {
  background: #ffffff;
  
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}
.buttons a {
  display: inline-block;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  background: #fff;
  padding:10px;
  text-decoration: none;
  margin: 5px 5px;
  border:1px solid #EAF0F6;
}
.buttons a:hover {
  background: #EAF0F6;
  text-decoration: none;
}

.noBg {
  background: none !important;
}
.podoIcon{
  position:absolute;
  bottom:10px;
  right:10px;
  width:100px;
  height:100px;
}
.cls-1{fill:#f2a31d;}
.cls-2{fill:#282424;}
.cls-3{fill:none;stroke:#f2a31d;stroke-miterlimit:10;stroke-width:4.2px;}
.cls-4{fill:#f9f8f6;}
.cls-5{fill:#232222;}
.cls-6{fill:#da6a2a;}
.cls-7{fill:#f70000;}
.cls-8{font-size:27.54px;fill:#fff;font-family:CircularStd-Bold, Circular Std;font-weight:700;}

.none{
  display:none;
}












